.app {
  display: grid;
  height: 100%;
  width: 100%;
  position: fixed;
  grid-template-columns: min-content auto;
  grid-template-rows: 70px auto;
  grid-template-areas: 
    "sidebar topbar"
    "sidebar content";

  * {
    animation: fadeIn .3s;
  }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
