.list-page {
  min-height: unset;

  @media only screen and (max-width: 800px) {
    padding: 20px;
  }

  .block-table {
    padding: inherit 50px 50px 50px;
    overflow: hidden;
    @media only screen and (max-width: 1200px) {
      padding: 20px;
    }

  }
}