.table-list-item {
  font-size: 15px;
  color: #152B36;
  line-height: 19px;
}

.table-list-item:nth-child(2n + 1) {
  background-color: rgba(0, 134, 248, 0.1);
} 

.control-delete {
  text-align: right;
  color: #ED8D0B;
  span, i {
    cursor: pointer;
  }
}