.table-list {
  margin-top: 45px;
  border-radius: 3px 3px 0 0;
  overflow: hidden;

  table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: bottom;
    text-align: left;

    tr {
      height: 35px;
    }

    td, th {
      padding-left: 20px;

      &:last-child {
        padding-right: 50px;
      }
    }
  }
}