.sidebar {
  grid-area: sidebar;
  height: 100vh;
  position: relative;
  background: var(--white);
  border-right: 1px solid #E8E8EA;
  min-width: 85px;
  width: 85px;
}

.sidebar--expanded {
  // min-width: 20vw;
  width: 230px;
  max-width: 230px;
  
  .sidebar__logo {
    .logo {
      justify-content: flex-start;
      padding-left: 28px;
    }
  }

  .sidebar__toggle {
    justify-content: flex-start;
    padding-left: 31px;
    svg {
      transform: rotate(180deg)
    }
  }
}

.sidebar__toggle {
  position: absolute;
  bottom: 20px;
  width: 22px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.sidebar__logo {
  height: 70px;
}