.sidebar {
  grid-area: sidebar;
  height: 100%;
  position: relative;
  background: var(--white);
  border-right: 1px solid #E8E8EA;
  min-width: 85px;
  width: 85px;

  @media only screen and (max-width: 800px) {
    min-width: 60px;
    width: 60px;
  }
}

.sidebar--expanded {
  width: 230px;
  max-width: 230px;
  
  .sidebar__logo {
    .logo {
      justify-content: flex-start;
      padding-left: 28px;
    }
  }

  .sidebar__toggle {
    svg {
      transform: rotate(180deg)
    }
  }
}

.sidebar__toggle {
  position: fixed;
  display: inline-block;
  bottom: 20px;
  width: 22px;
  left: 30px;
  width: 100%;
  @media only screen and (max-width: 800px) {
    left: 18px;
  }
}

.sidebar__logo {
  height: 70px;
}